<div class="card-deck">
	<div class="card text-center">
	  <h1 class="card-header">Salve</h1>
	  <div class="card-body">
	    <h5 class="card-title">Selamat datang di Bimas Katolik Sumba Tengah.</h5>
	    <p class="card-text">Untuk memulai, Anda dapat memilih salah satu dari menu yang tersedia.</p>
	  </div>
	</div>
	<div class="card text-center">
	  <h1 class="card-header">Salve</h1>
	  <div class="card-body">
	    <h5 class="card-title">Selamat datang di Bimas Katolik Sumba Tengah.</h5>
	    <p class="card-text">Untuk memulai, Anda dapat memilih salah satu dari menu yang tersedia.</p>
	  </div>
	</div>
</div>