<h1>Web Aplikasi Bimas Katolik</h1>
<h2>Kantor Kementerian Agama Kabupaten Sumba Tengah</h2>

<p>Halo <%= @pengguna.nama_lengkap %>,</p>

<p>
Terima kasih telah berkenan untuk bergabung di Web Aplikasi Bimas Katolik Kantor Kementerian Agama Kabupaten Sumba Tengah. Untuk mengaktifkan akun Anda, mohon klik tautan yang tersedia di bawah ini.
</p>

<%= link_to "Aktifkan akun saya.", edit_account_activation_url(@pengguna.activation_token, email: @pengguna.email) %>