<footer class="d-flex justify-content-center mt-3">
	<div class="inner"><small>
		<p>© 2019 Yosef Benny W., S.Kom - Dibangun menggunakan <a href="https://rubyonrails.org/">Ruby on Rails</a> dan <a href="https://getbootstrap.com/">Bootstrap 4</a></small></p>
	</div>
</footer>