<div class="card">
  <h1 class="card-header">Edit Pengguna</h1>
  <%= render 'form', pengguna: @pengguna %>
  <div class="btn-group" role="group" aria-label="tampilkan-kembali">
  	<%= link_to 'Tampilkan', @pengguna, :class => "btn btn-primary" %>
  	<%= link_to 'Kembali', pengguna_index_path, :class => "btn btn-secondary" %>
  </div>
</div>
